.sheet-popup-content-block
{
	padding: 10px;
}

.sheet-popup-content-block-row
{
	margin-bottom: 10px;
}

.sheet-row-title-block
{

}

.sheet-row-title-block span
{
	color: rgba(0, 0, 0, 0.54);
}

.sheet-row-data-block
{

}